.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: map-get($breakpoints, breakpoint-narrow)) {
        width: map-get($container-width, container-w-small);
    }

    @media (min-width: map-get($breakpoints, breakpoint-med)) {
        width: map-get($container-width, container-w-med);
    }

    @media (min-width: map-get($breakpoints, breakpoint-wide)){
        width: map-get($container-width, container-w-large);
    }
}

.logo-container {
    padding-bottom: 50px;
    padding-top: 50px;
}

.client-pop-up-hover {
    display: none;
    position: absolute;
    bottom: 100%;
    left: -200px;
    right: -200px;
}

.row,
.container {

    &::after {
        content:" ";
        display: table;
    }

    &::before {
        content:" ";
        display: table;
    }
}

.headings-container {
    display: flex;
    justify-content: space-between;
}

.img-container {
    position: relative;
}