footer {
    background-color: $col-dark-blue;
    color: $col-white;
    padding: 27px 0 0;
    position: relative;

    h4 {
        color: $col-white;
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 26px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-size: .8125rem;
            line-height: 1.375rem;
        }
    }

    @media (min-width: map-get($breakpoints, breakpoint-wide)) {
        padding: 47px 0 0;
    }
}

.footer__logo {
    width: 250px;

    @media (min-width:map-get($breakpoints, breakpoint-x-narrow)) {
        width: 320px;
    }

    img {
        width: 100%;
    }
}

.footer__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__company-socials {
    display: flex;
    justify-content: space-between;
    width: 300px;

    @media (min-width: map-get($breakpoints, breakpoint-wide)) {
        width: 400px;
    }

    @media (max-width: map-get($breakpoints, breakpoint-narrow)) {
        width: 100%;
        flex-wrap: wrap;
    }
}

.footer__social-menu {
    width: auto;

    h4 {
        margin-top: 24px;
    }
}

.footer__social-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @media (min-width: map-get($breakpoints, breakpoint-narrow)) {
        flex-wrap: nowrap;
        width: 90%
    }

    @media (min-width: map-get($breakpoints, breakpoint-wide)) {
        width: auto;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    a {
        text-align: center;
        text-decoration: none;
        font-size: 26px;
        line-height: 26px;
        padding: 12px 22px 16px;
        margin-right: 7px;
        background-color: $col-very-dark-blue;

        svg {
            position: relative;
            top: 4px;
        }

        @media (max-width: map-get($breakpoints, breakpoint-wide)) {
            padding: 12px 22px 16px;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        @media (max-width: 480px) {
            width: 35%;
        }
    }
}

.footer__nav {
    margin-left: -15px;
    margin-right: -15px;

    @media (min-width: map-get($breakpoints, breakpoint-narrow)) {
        flex-grow: 1;
        display: flex;
    }

    @media (max-width: map-get($breakpoints, breakpoint-med)) {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer__nav-list {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    width: 100%;
    float: left;

    @media (min-width: map-get($breakpoints, breakpoint-narrow)) {
        width: 50%;
        float: left;
    }

    @media (min-width: map-get($breakpoints, breakpoint-med)) {
        width: 25%;
        float: left;
    }

    @media (min-width: map-get($breakpoints, breakpoint-wide)) {
        margin-bottom: 40px;
    }
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    font-size: .8125rem;
    padding-top: 10px;
    width: 100%;
    background: $col-very-dark-blue;

    ul {
        list-style: none;
        padding: 0;

        @media (min-width: map-get($breakpoints, breakpoint-x-narrow)) and (max-width:map-get($breakpoints, breakpoint-narrow)) {
            margin-left: 0;
        }

        @media (min-width: map-get($breakpoints, breakpoint-x-narrow)) {
            margin-left: 10px;
        }

        li {
            font-size: .8125rem;
            line-height: 1.375rem;
            a:hover {
                color: $col-white;
            }
        }
    }
}

.footer__nav-link {
    color: $col-white;

    &:hover {
        text-decoration: underline;
    }
}

.footer__license {
    color: $col-white;
    display: flex;
    padding: 5px 0 0;

    ul {
        margin-top: -2px;

        @media (min-width: map-get($breakpoints, breakpoint-x-narrow)) {
            display: flex;
        }

        li:before {
            content: "-";
            margin-right: 5px;

            @media (min-width: map-get($breakpoints, breakpoint-narrow)) {
                display: inline-block;
            }
        }
    }
}

.footer__gap {
    display: none !important;
}

.footer__social--facebook:hover {
    background-color: $facebook;
}

.footer__social--linkedin:hover {
    background-color: $linkedin;
}

.footer__social--twitter:hover {
    background-color: $twitter;
}
.footer__social--instagram:hover {
    background-color: $instagram;
}