.newsletter {
    background-color: $col-light-grey;

}

.required:after {
    content: " *";
    color: $required-red;
}

.sign-up {
    margin: 0;
    padding: 50px 0;
}

.sign-up-inputs {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.sign-up-input {
    flex: 1 1 450px;
    padding-left: 15px;
    padding-right: 15px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    height: 47px;
    padding: 5px 15px;
    border: 1px solid $col-med-grey;

    &:focus {
        border-color: $blue-glow;
        outline:0;
        box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,192,222,.6);
    }

}

.marketing-preference {
    line-height: 32px;
    cursor: pointer;
}