// marketing preference button
#marketing-pref-checkbox {
    border-radius:3px;
    border:3px solid #333645;
    height:32px;
    width:32px;
    position:relative;
    float:left;
    margin-right:20px;
    margin-bottom: 1px;
}


.btn {
    height: auto;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.063rem;
    border-radius: 3px;
    white-space: normal;
    cursor: pointer;
}

.btn-it {
    color: $col-white;
    background-color: $it;
    border-color: $it;

    &:hover {
        color: $col-white;
        background-color: #2a6ec6;
        border-color: #2665b5;
    }
}

.btn-web {
    color: $col-white;
    background-color: $web;
    border-color: $web;

    &:hover {
        color: $col-white;
        background-color:#7e57a0;
        border-color:#735093
    }
}

.btn-digital {
    color: $col-white;
    background-color: $digital;
    border-color: $digital;
}

.btn-software {
    color: $col-white;
    background-color: $software;
    border-color: $software;
}

.news-sub-btn {
    color: $col-white;
    background-color: $col-dark-blue;
    border-color: $col-dark-blue;

    &:hover {
        color: $col-white;
        background-color: #22242e;
        border-color: #191a22;
    }
}