$breakpoints: (
    breakpoint-x-narrow: 480px,
    breakpoint-narrow: 768px,
    breakpoint-med: 992px,
    breakpoint-wide: 1260px,
);

$container-width: (
    container-w-small: 750px,
    container-w-med: 970px,
    container-w-large: 1200px,
);