// color tokens
$col-white: #fff;
$col-light-grey: #ddd;
$col-med-grey: #ccc;
$col-grey: #666;
$col-dark-blue: #323544;
$col-dark-blue-2: #333645;
$col-very-dark-blue: #212330;
$col-black: #000;

// color for * 
$required-red: #d24d57;

// social colors
$facebook: #3b5998;
$twitter: #00aced;
$instagram: #d93175;
$linkedin: #0077b5;

// service colors
$web: #926fb1;
$it: #4183d7;
$telecoms: #d64541;
$software: #67809f;
$digital: #2ecc71;
$security: #f62459;
$developer-course: #f62459;

// primary inverse button colors
$inverse-static: #272936;
$inverse-hover: #121318;

// review star
$star: #ffa500; 

// quote author
$quote-author: #a3a8ac;

// review button colours
$google: #4387f6;
$google-hover: #166af4;
$trustpilot: #00b67b;
$trustpilot-hover: #009b69;
