// color tokens
$col-white: #fff;
$col-light-grey: #ddd;
$col-med-grey: #ccc;
$col-grey: #666;
$col-dark-blue: #323544;
$col-dark-blue-2: #333645;
$col-very-dark-blue: #212330;

// color for * 
$required-red: #d24d57;

// text colors
$label-text-dark-blue: #333645;
